.scrollSyncRow {
  background: #FFF;
  border-radius: 3px;
  box-shadow: 1px 1px 2px #cacbcc;
  display: flex;
  margin-bottom: 15px;
  overflow-x: hidden;
}

.sticky {
  position: sticky;
  top: 0;
  z-index: 1000;
}

.leftStickySection {
  flex: 0 0 auto;
  position: sticky;
  left: 0;
}

.leftStickySection .scrollSyncColumn {
  float: left;
}

.rightStickySection {
  flex: 0 0 auto;
  position: sticky;
  right: 0;
}

.rightStickySection .scrollSyncColumn {
  float: left;
}
