.table {
  font-family: Open Sans, sans-serif;
  font-style: normal;
}

.row {
  background: #f4f5f6;
  border-top: 1px solid #989a9b;
}

.column {
  border-right: 1px solid #989a9b;
  text-align: center;
  padding: 15px;
}

.headerRow {
  background: #cacbcc;
  border: none;
}

.headerColumn {
  text-align: center;
  text-transform: uppercase;
  padding: 15px;
}
